{% extends "base.html" %}

{% block content %}
    <h1>Match Detail</h1>
    <p>White Player: <span id="whitePlayer"></span></p>
    <p>Black Player: <span id="blackPlayer"></span></p>
    <p>Result: <span id="result"></span></p>
    <p>Date: <span id="date"></span></p>
    <p>Result Info: <span id="resultInfo"></span></p>
    <p>Game Link: <a id="gameLink" href="#" target="_blank">View Game</a></p>

    <h3>Game View</h3>
    <iframe id="gameFrame" width="100%" height="600px" frameborder="0"></iframe>

    <script src="/static/js/match_detail.js"></script>
{% endblock %}

